
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 55px 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 40px;
}

nav ul a {
    text-decoration: none;
    padding: 10px 15px;
    font-family: Google Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--primary-color);  
}

nav ul li a:hover {
    background-color: orange;
    border-radius: 8px;
}


.hero {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.hero-words {
    width: 50%;
    text-align: left;
    margin-top: 80px;
}
.hero-words h4 {
    color: #DF6951;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.hero-words h1 {
    color: var(--primary-color);
    font-family: Volkhov;
    font-size: 84px;
    font-style: normal;
    font-weight: 700;
    line-height: 89px; 
    letter-spacing: -3.36px;
    width: 80%;
    margin-bottom: 30px;
}   
.hero-words p {
    color: #5E6282;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
}

.hero-button {
    display: flex;
    align-items: center;
}
.hero-words button {
    border-radius: 10px;
    background: var(--yellow, #F1A501);
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    border: none;
    padding: 20px 25px;
    margin-right: 35px;
    color: white;
    font-weight: 500;
}
.fa-circle-play {
    color: #DF6951;
    font-size: 50px;
}

.hero-button a {
    text-decoration: none;
    margin-left: 20px;
    color: var(--text-color, #686D77);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-image {
    width: 50%;
}

.hero-image {
    background-image: url("../images/Traveller\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

